/* Ajuste para o card com imagem do projeto */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img-top {
  width: 100%; /* Garante que a imagem ocupe toda a largura do card */
  height: auto; /* Ajuste de altura automática para manter as proporções */
  object-fit: cover; /* Para garantir que a imagem não seja distorcida */
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.card-text {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

/* Botão com o mesmo estilo dos outros projetos */
.btnGithub {
  background-color: #ff81b6; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remover bordas */
  padding: 10px 15px; /* Tamanho do botão */
  text-align: center;
  font-size: 1rem;
  width: 100%; /* Faz com que o botão ocupe toda a largura do card */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease-in-out;
}

.btnGithub:hover {
  background-color: #e5699e; /* Cor ao passar o mouse */
  color: #fff;
}

.btnGithub i {
  margin-right: 10px;
}

/* Certificando-se de que os cards se comportem bem em telas pequenas */
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.9rem;
  }
}

/* Ajuste na tecnologia-icons (ícones das tecnologias) */
.technology-icons i {
  font-size: 2.5rem; /* Tamanho ajustado para ícones */
  color: #333;
  transition: color 0.3s ease-in-out;
}

.technology-icons i:hover {
  color: #fa62a1;
}
